body{
    background-color: black;
}
#canvas {
    border: 2px solid rgb(181, 181, 181);
    display: block;
    top:25%;
    left:25%;
    margin: 0 auto;
    position: absolute;   /* importante */
    z-index: 1; /*immagine sopra*/
}
html{
    cursor: none;

}
.zona {
    width: 640px;
    height: 640px;
}
#fondo {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* immagine sotto */
}