body{
    background-color: black;
    
}
#canvas {
    border: 2px solid rgb(181, 181, 181);
    display: block;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;   /* importante */
    z-index: 1; /*immagine sopra*/
}
html{
    cursor: none;

}
.zona {
    width: 640px;
    height: 640px;
}
#fondo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    
    top: 0;
    left: 0;
    z-index: 0; /* immagine sotto */
}